
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

.tittleSpot {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 50px;
  color: #004150;
}

.spotInfoDesign {
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
  height: auto;

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.row1SpotinfoDesign {
  height: 100%;
  width: 100%;
  padding: 2em;
}

.col1SpotinfoDesign {
  height: 100%;
  width: 50%;
}

.col2SpotinfoDesign {
  height: 100%;
  width: 50%;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageSpotinfo {
  height: 90vh;
  border-radius: 15px;
}

.starRating {
  font-size: 40px;
}

@media (max-width: 700px) {
  .row1SpotinfoDesign {
    display: flex;
    flex-direction: column;
  }
  .col1SpotinfoDesign {
    width: 100%;
  }
  .col2SpotinfoDesign {
    width: 100%;
    padding: 1em;
  }
}

.conditionsText{
  margin-top: 2em;
}