.navBar2 {
  background-color: #e5bfb2;
  /* width: 100%; */
}

.logoNavbar2 {
  margin-left: 20px;
  width: 8vw;
  size: auto;
}

.linksRight {
  display: flex;
  color: white;
  justify-content: right;
  align-content: right;
  /* margin-left: 2em; */
}

.ulRight {
  display: flex;
  align-items: right;
  justify-content: right;
}

.ulLeft:hover {
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-content: right;
}

#textRight:hover {
  cursor: pointer;
}

@media (max-width: 630px) {
  .logoNavbar2 {
    width: 20vh;
  }
}

.hover:hover {
  cursor: pointer;
}
