
.profileDesign{
  width: 100vw;
  height: auto;
}

.bgProfile{
    background: url(../../aessets/beach-bg-image-3.jpg) no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
}

.col2Profile{
    width: 100%;
    height: 50vh;
    margin-top: 2em;
   display: flex;
   /* align-items: center; */
   justify-content: start;
}

.col1Profile{
    width: 100%;
    height: 50vh;
    margin-top: 2em;
    display: flex;
   /* align-items: center; */
   justify-content: end;
   color: #004150;
}

.yourDataText{
    font-family: "Sedgwick Ave Display", cursive;
}

.yourDataText2{
    font-family: "Sedgwick Ave Display", cursive;

    margin-bottom: 0;
}


/* @media (max-width: 600px) {
    .row1Profile{
        display: none;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

    }

   
  }  */


  .boxInfo{

    background-color: rgba(255, 255, 255, 0.1);
    /* padding-top: 1em;
    padding-bottom: 2em; */
    width: 30vw;
    height: 80%;
    border-radius: 5px;
    /* gap: 0.3em; */
  
    backdrop-filter: blur(13px);
    border: solid 1px rgba(255, 255, 255, 0.3);
  
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);

    display: flex; 
    flex-direction: column;
    justify-content: center;

  }


  .inputsBoxProfile {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 1em;
    padding-bottom: 2em;
    width: 50vh;
    height: 80%;
    border-radius: 5px;
    gap: 0.3em;
  
    backdrop-filter: blur(13px);
    border: solid 1px rgba(255, 255, 255, 0.3);
  
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);

    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .row1Profile{
    display: flex; 
    flex-direction: row;
    
  }

  .logoDesignProfile{
    height: 80px;
    margin-top: 3em;
    }