

.aboutDesign{
    height: 90vh;
    width: 100%;
    display: flex;
    margin: 0;
}



.row1Design{
    background: url(../../aessets/bg.3.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100vw;

    /* display: flex; */


}

.col1Design{
    width: 100vw;
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
}

.cont2Design{
    background-color: #00465C;
    width: 100vw;
    height: 50vh;

}
