
.targetDesign{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1em;
  width: 18rem;
  height: 22rem;
  max-width: 16rem;
  max-height: 300rem;
  /* width: rem; */

  /* background-color: beige; */
  border-radius: 15px;

  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
  
}






.targetDesign:hover {
    
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
    
  
  }

  .nameSpot{
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }

  .citySpot{
    color: white;
  }